/* General */

.main {
  padding: 0 40px 40px;
}

/* Nav */

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 40px;
}

.nav-element {
  list-style-type: none;
  margin-left: 10px;
}

/* Gallery */

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-container h1 {
  width: 100%;
  max-width: 1000px;
}

.gallery-row {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-book {
  width: 30%;
  height: 306px;
  padding: 30px 0;
  overflow: hidden;
}

.gallery-img {
  width: 100%;
}
